.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.cardContainer {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(4,1fr);
   
}

@media screen and (max-width: 768px) {
    .cardContainer {
        grid-template-columns: repeat(2,1fr);
    }
}